html,
body {
  height: 100%;
}

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}

.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}

.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}

.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0 0 yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}

.firefly:nth-child(1)::before {
  animation-duration: 9s;
}

.firefly:nth-child(1)::after {
  animation-duration: 9s, 6951ms;
  animation-delay: 0ms, 6486ms;
}

@keyframes move1 {
  0% {
    transform: translateX(47vw) translateY(-47vh) scale(0.32);
  }

  5.2631578947% {
    transform: translateX(-41vw) translateY(6vh) scale(0.42);
  }

  10.5263157895% {
    transform: translateX(-44vw) translateY(48vh) scale(0.78);
  }

  15.7894736842% {
    transform: translateX(37vw) translateY(10vh) scale(0.8);
  }

  21.0526315789% {
    transform: translateX(-11vw) translateY(48vh) scale(0.49);
  }

  26.3157894737% {
    transform: translateX(20vw) translateY(42vh) scale(0.86);
  }

  31.5789473684% {
    transform: translateX(22vw) translateY(-22vh) scale(0.98);
  }

  36.8421052632% {
    transform: translateX(24vw) translateY(-9vh) scale(0.77);
  }

  42.1052631579% {
    transform: translateX(38vw) translateY(0) scale(0.62);
  }

  47.3684210526% {
    transform: translateX(44vw) translateY(8vh) scale(0.94);
  }

  52.6315789474% {
    transform: translateX(-10vw) translateY(-27vh) scale(0.82);
  }

  57.8947368421% {
    transform: translateX(26vw) translateY(23vh) scale(0.28);
  }

  63.1578947368% {
    transform: translateX(37vw) translateY(-1vh) scale(0.97);
  }

  68.4210526316% {
    transform: translateX(-4vw) translateY(-16vh) scale(0.26);
  }

  73.6842105263% {
    transform: translateX(2vw) translateY(-48vh) scale(0.73);
  }

  78.9473684211% {
    transform: translateX(-49vw) translateY(-13vh) scale(0.31);
  }

  84.2105263158% {
    transform: translateX(-16vw) translateY(-6vh) scale(0.91);
  }

  89.4736842105% {
    transform: translateX(28vw) translateY(20vh) scale(0.95);
  }

  94.7368421053% {
    transform: translateX(1vw) translateY(45vh) scale(0.69);
  }

  100% {
    transform: translateX(22vw) translateY(-19vh) scale(0.77);
  }
}

.firefly:nth-child(2) {
  animation-name: move2;
}

.firefly:nth-child(2)::before {
  animation-duration: 9s;
}

.firefly:nth-child(2)::after {
  animation-duration: 9s, 7300ms;
  animation-delay: 0ms, 4456ms;
}

@keyframes move2 {
  0% {
    transform: translateX(13vw) translateY(37vh) scale(0.3);
  }

  4.7619047619% {
    transform: translateX(-14vw) translateY(-4vh) scale(0.72);
  }

  9.5238095238% {
    transform: translateX(36vw) translateY(-49vh) scale(0.34);
  }

  14.2857142857% {
    transform: translateX(-43vw) translateY(-15vh) scale(0.42);
  }

  19.0476190476% {
    transform: translateX(-38vw) translateY(33vh) scale(0.64);
  }

  23.8095238095% {
    transform: translateX(30vw) translateY(46vh) scale(0.76);
  }

  28.5714285714% {
    transform: translateX(21vw) translateY(6vh) scale(0.28);
  }

  33.3333333333% {
    transform: translateX(-26vw) translateY(-30vh) scale(0.91);
  }

  38.0952380952% {
    transform: translateX(48vw) translateY(-6vh) scale(0.49);
  }

  42.8571428571% {
    transform: translateX(-6vw) translateY(-17vh) scale(0.74);
  }

  47.619047619% {
    transform: translateX(19vw) translateY(5vh) scale(0.32);
  }

  52.380952381% {
    transform: translateX(37vw) translateY(-35vh) scale(0.47);
  }

  57.1428571429% {
    transform: translateX(-39vw) translateY(-49vh) scale(0.29);
  }

  61.9047619048% {
    transform: translateX(-49vw) translateY(43vh) scale(0.52);
  }

  66.6666666667% {
    transform: translateX(-38vw) translateY(7vh) scale(0.64);
  }

  71.4285714286% {
    transform: translateX(-8vw) translateY(38vh) scale(0.4);
  }

  76.1904761905% {
    transform: translateX(36vw) translateY(-44vh) scale(0.52);
  }

  80.9523809524% {
    transform: translateX(50vw) translateY(3vh) scale(0.31);
  }

  85.7142857143% {
    transform: translateX(46vw) translateY(-46vh) scale(0.75);
  }

  90.4761904762% {
    transform: translateX(-5vw) translateY(36vh) scale(0.53);
  }

  95.2380952381% {
    transform: translateX(30vw) translateY(-15vh) scale(0.37);
  }

  100% {
    transform: translateX(25vw) translateY(34vh) scale(0.57);
  }
}

.firefly:nth-child(3) {
  animation-name: move3;
}

.firefly:nth-child(3)::before {
  animation-duration: 16s;
}

.firefly:nth-child(3)::after {
  animation-duration: 16s, 7091ms;
  animation-delay: 0ms, 4024ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-35vw) translateY(-3vh) scale(0.37);
  }

  3.8461538462% {
    transform: translateX(-27vw) translateY(6vh) scale(0.78);
  }

  7.6923076923% {
    transform: translateX(-20vw) translateY(6vh) scale(0.84);
  }

  11.5384615385% {
    transform: translateX(-7vw) translateY(-40vh) scale(0.85);
  }

  15.3846153846% {
    transform: translateX(32vw) translateY(6vh) scale(0.81);
  }

  19.2307692308% {
    transform: translateX(18vw) translateY(17vh) scale(0.64);
  }

  23.0769230769% {
    transform: translateX(35vw) translateY(42vh) scale(0.37);
  }

  26.9230769231% {
    transform: translateX(20vw) translateY(6vh) scale(0.62);
  }

  30.7692307692% {
    transform: translateX(5vw) translateY(28vh) scale(0.57);
  }

  34.6153846154% {
    transform: translateX(32vw) translateY(-46vh) scale(0.48);
  }

  38.4615384615% {
    transform: translateX(-19vw) translateY(-32vh) scale(0.98);
  }

  42.3076923077% {
    transform: translateX(4vw) translateY(16vh) scale(0.28);
  }

  46.1538461538% {
    transform: translateX(6vw) translateY(41vh) scale(1);
  }

  50% {
    transform: translateX(36vw) translateY(-21vh) scale(0.92);
  }

  53.8461538462% {
    transform: translateX(45vw) translateY(46vh) scale(0.92);
  }

  57.6923076923% {
    transform: translateX(8vw) translateY(40vh) scale(0.75);
  }

  61.5384615385% {
    transform: translateX(-48vw) translateY(32vh) scale(0.84);
  }

  65.3846153846% {
    transform: translateX(7vw) translateY(-49vh) scale(0.65);
  }

  69.2307692308% {
    transform: translateX(47vw) translateY(41vh) scale(0.34);
  }

  73.0769230769% {
    transform: translateX(-36vw) translateY(-45vh) scale(0.27);
  }

  76.9230769231% {
    transform: translateX(-37vw) translateY(1vh) scale(0.85);
  }

  80.7692307692% {
    transform: translateX(-45vw) translateY(-22vh) scale(0.7);
  }

  84.6153846154% {
    transform: translateX(27vw) translateY(14vh) scale(0.31);
  }

  88.4615384615% {
    transform: translateX(45vw) translateY(-33vh) scale(0.84);
  }

  92.3076923077% {
    transform: translateX(31vw) translateY(18vh) scale(0.92);
  }

  96.1538461538% {
    transform: translateX(48vw) translateY(-12vh) scale(0.73);
  }

  100% {
    transform: translateX(9vw) translateY(-49vh) scale(0.77);
  }
}

.firefly:nth-child(4) {
  animation-name: move4;
}

.firefly:nth-child(4)::before {
  animation-duration: 13s;
}

.firefly:nth-child(4)::after {
  animation-duration: 13s, 8768ms;
  animation-delay: 0ms, 5620ms;
}

@keyframes move4 {
  0% {
    transform: translateX(41vw) translateY(9vh) scale(0.67);
  }

  5% {
    transform: translateX(39vw) translateY(24vh) scale(0.31);
  }

  10% {
    transform: translateX(-4vw) translateY(5vh) scale(0.33);
  }

  15% {
    transform: translateX(-15vw) translateY(-9vh) scale(0.66);
  }

  20% {
    transform: translateX(-23vw) translateY(-27vh) scale(0.48);
  }

  25% {
    transform: translateX(25vw) translateY(47vh) scale(0.5);
  }

  30% {
    transform: translateX(-28vw) translateY(-4vh) scale(0.62);
  }

  35% {
    transform: translateX(3vw) translateY(19vh) scale(0.56);
  }

  40% {
    transform: translateX(15vw) translateY(13vh) scale(0.4);
  }

  45% {
    transform: translateX(24vw) translateY(-29vh) scale(0.57);
  }

  50% {
    transform: translateX(43vw) translateY(-16vh) scale(0.46);
  }

  55% {
    transform: translateX(12vw) translateY(-16vh) scale(0.59);
  }

  60% {
    transform: translateX(-35vw) translateY(6vh) scale(0.57);
  }

  65% {
    transform: translateX(-25vw) translateY(8vh) scale(0.91);
  }

  70% {
    transform: translateX(-9vw) translateY(49vh) scale(0.82);
  }

  75% {
    transform: translateX(-21vw) translateY(38vh) scale(0.76);
  }

  80% {
    transform: translateX(13vw) translateY(38vh) scale(0.33);
  }

  85% {
    transform: translateX(-12vw) translateY(-47vh) scale(0.33);
  }

  90% {
    transform: translateX(-5vw) translateY(-10vh) scale(0.41);
  }

  95% {
    transform: translateX(1vw) translateY(16vh) scale(0.82);
  }

  100% {
    transform: translateX(15vw) translateY(11vh) scale(0.82);
  }
}

.firefly:nth-child(5) {
  animation-name: move5;
}

.firefly:nth-child(5)::before {
  animation-duration: 17s;
}

.firefly:nth-child(5)::after {
  animation-duration: 17s, 8720ms;
  animation-delay: 0ms, 6012ms;
}

@keyframes move5 {
  0% {
    transform: translateX(38vw) translateY(-36vh) scale(0.31);
  }

  5.8823529412% {
    transform: translateX(-42vw) translateY(36vh) scale(0.75);
  }

  11.7647058824% {
    transform: translateX(24vw) translateY(43vh) scale(0.38);
  }

  17.6470588235% {
    transform: translateX(23vw) translateY(28vh) scale(0.43);
  }

  23.5294117647% {
    transform: translateX(-43vw) translateY(49vh) scale(0.29);
  }

  29.4117647059% {
    transform: translateX(-1vw) translateY(-22vh) scale(0.33);
  }

  35.2941176471% {
    transform: translateX(-15vw) translateY(39vh) scale(0.66);
  }

  41.1764705882% {
    transform: translateX(-10vw) translateY(15vh) scale(0.38);
  }

  47.0588235294% {
    transform: translateX(-11vw) translateY(23vh) scale(0.65);
  }

  52.9411764706% {
    transform: translateX(-23vw) translateY(7vh) scale(0.54);
  }

  58.8235294118% {
    transform: translateX(23vw) translateY(-21vh) scale(0.87);
  }

  64.7058823529% {
    transform: translateX(10vw) translateY(-1vh) scale(0.56);
  }

  70.5882352941% {
    transform: translateX(12vw) translateY(-46vh) scale(0.32);
  }

  76.4705882353% {
    transform: translateX(41vw) translateY(-26vh) scale(0.49);
  }

  82.3529411765% {
    transform: translateX(-30vw) translateY(21vh) scale(0.71);
  }

  88.2352941176% {
    transform: translateX(38vw) translateY(-4vh) scale(0.32);
  }

  94.1176470588% {
    transform: translateX(24vw) translateY(24vh) scale(0.86);
  }

  100% {
    transform: translateX(-37vw) translateY(24vh) scale(0.63);
  }
}

.firefly:nth-child(6) {
  animation-name: move6;
}

.firefly:nth-child(6)::before {
  animation-duration: 12s;
}

.firefly:nth-child(6)::after {
  animation-duration: 12s, 6401ms;
  animation-delay: 0ms, 8468ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-49vw) translateY(1vh) scale(0.68);
  }

  5.8823529412% {
    transform: translateX(-9vw) translateY(-2vh) scale(0.79);
  }

  11.7647058824% {
    transform: translateX(-10vw) translateY(9vh) scale(0.73);
  }

  17.6470588235% {
    transform: translateX(6vw) translateY(39vh) scale(0.56);
  }

  23.5294117647% {
    transform: translateX(6vw) translateY(26vh) scale(0.72);
  }

  29.4117647059% {
    transform: translateX(-14vw) translateY(-15vh) scale(0.6);
  }

  35.2941176471% {
    transform: translateX(30vw) translateY(40vh) scale(0.93);
  }

  41.1764705882% {
    transform: translateX(-19vw) translateY(7vh) scale(0.89);
  }

  47.0588235294% {
    transform: translateX(13vw) translateY(25vh) scale(0.8);
  }

  52.9411764706% {
    transform: translateX(-30vw) translateY(-11vh) scale(0.55);
  }

  58.8235294118% {
    transform: translateX(19vw) translateY(8vh) scale(0.48);
  }

  64.7058823529% {
    transform: translateX(-23vw) translateY(-2vh) scale(0.66);
  }

  70.5882352941% {
    transform: translateX(4vw) translateY(49vh) scale(0.27);
  }

  76.4705882353% {
    transform: translateX(22vw) translateY(-5vh) scale(0.78);
  }

  82.3529411765% {
    transform: translateX(19vw) translateY(5vh) scale(0.72);
  }

  88.2352941176% {
    transform: translateX(4vw) translateY(-30vh) scale(0.92);
  }

  94.1176470588% {
    transform: translateX(43vw) translateY(3vh) scale(0.71);
  }

  100% {
    transform: translateX(-16vw) translateY(18vh) scale(0.36);
  }
}

.firefly:nth-child(7) {
  animation-name: move7;
}

.firefly:nth-child(7)::before {
  animation-duration: 18s;
}

.firefly:nth-child(7)::after {
  animation-duration: 18s, 8577ms;
  animation-delay: 0ms, 3233ms;
}

@keyframes move7 {
  0% {
    transform: translateX(38vw) translateY(19vh) scale(0.61);
  }

  5.5555555556% {
    transform: translateX(-8vw) translateY(7vh) scale(0.87);
  }

  11.1111111111% {
    transform: translateX(29vw) translateY(43vh) scale(0.66);
  }

  16.6666666667% {
    transform: translateX(12vw) translateY(-6vh) scale(0.93);
  }

  22.2222222222% {
    transform: translateX(-21vw) translateY(-1vh) scale(0.44);
  }

  27.7777777778% {
    transform: translateX(-43vw) translateY(43vh) scale(0.64);
  }

  33.3333333333% {
    transform: translateX(2vw) translateY(18vh) scale(0.7);
  }

  38.8888888889% {
    transform: translateX(36vw) translateY(-4vh) scale(0.73);
  }

  44.4444444444% {
    transform: translateX(27vw) translateY(-35vh) scale(0.99);
  }

  50% {
    transform: translateX(44vw) translateY(-43vh) scale(0.77);
  }

  55.5555555556% {
    transform: translateX(21vw) translateY(26vh) scale(1);
  }

  61.1111111111% {
    transform: translateX(-13vw) translateY(45vh) scale(0.54);
  }

  66.6666666667% {
    transform: translateX(49vw) translateY(-29vh) scale(0.37);
  }

  72.2222222222% {
    transform: translateX(-19vw) translateY(-42vh) scale(0.86);
  }

  77.7777777778% {
    transform: translateX(4vw) translateY(-9vh) scale(0.9);
  }

  83.3333333333% {
    transform: translateX(-19vw) translateY(-23vh) scale(0.39);
  }

  88.8888888889% {
    transform: translateX(-39vw) translateY(-46vh) scale(0.35);
  }

  94.4444444444% {
    transform: translateX(10vw) translateY(-41vh) scale(0.76);
  }

  100% {
    transform: translateX(21vw) translateY(-25vh) scale(0.91);
  }
}

.firefly:nth-child(8) {
  animation-name: move8;
}

.firefly:nth-child(8)::before {
  animation-duration: 13s;
}

.firefly:nth-child(8)::after {
  animation-duration: 13s, 9825ms;
  animation-delay: 0ms, 2858ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-25vw) translateY(44vh) scale(0.86);
  }

  4.5454545455% {
    transform: translateX(-24vw) translateY(-14vh) scale(0.51);
  }

  9.0909090909% {
    transform: translateX(5vw) translateY(-5vh) scale(0.95);
  }

  13.6363636364% {
    transform: translateX(29vw) translateY(-24vh) scale(0.73);
  }

  18.1818181818% {
    transform: translateX(30vw) translateY(-41vh) scale(0.68);
  }

  22.7272727273% {
    transform: translateX(-1vw) translateY(-31vh) scale(0.96);
  }

  27.2727272727% {
    transform: translateX(-18vw) translateY(0) scale(0.27);
  }

  31.8181818182% {
    transform: translateX(-48vw) translateY(-16vh) scale(0.74);
  }

  36.3636363636% {
    transform: translateX(-23vw) translateY(28vh) scale(0.4);
  }

  40.9090909091% {
    transform: translateX(-8vw) translateY(49vh) scale(0.78);
  }

  45.4545454545% {
    transform: translateX(-21vw) translateY(48vh) scale(0.53);
  }

  50% {
    transform: translateX(20vw) translateY(14vh) scale(0.37);
  }

  54.5454545455% {
    transform: translateX(27vw) translateY(12vh) scale(0.7);
  }

  59.0909090909% {
    transform: translateX(-7vw) translateY(-23vh) scale(0.9);
  }

  63.6363636364% {
    transform: translateX(-17vw) translateY(-25vh) scale(0.29);
  }

  68.1818181818% {
    transform: translateX(-5vw) translateY(-18vh) scale(0.62);
  }

  72.7272727273% {
    transform: translateX(25vw) translateY(4vh) scale(0.43);
  }

  77.2727272727% {
    transform: translateX(-7vw) translateY(0) scale(0.86);
  }

  81.8181818182% {
    transform: translateX(3vw) translateY(-24vh) scale(0.98);
  }

  86.3636363636% {
    transform: translateX(-38vw) translateY(35vh) scale(0.77);
  }

  90.9090909091% {
    transform: translateX(-26vw) translateY(-17vh) scale(0.91);
  }

  95.4545454545% {
    transform: translateX(27vw) translateY(-17vh) scale(0.8);
  }

  100% {
    transform: translateX(7vw) translateY(38vh) scale(0.75);
  }
}

.firefly:nth-child(9) {
  animation-name: move9;
}

.firefly:nth-child(9)::before {
  animation-duration: 17s;
}

.firefly:nth-child(9)::after {
  animation-duration: 17s, 6183ms;
  animation-delay: 0ms, 3186ms;
}

@keyframes move9 {
  0% {
    transform: translateX(-35vw) translateY(24vh) scale(0.4);
  }

  3.5714285714% {
    transform: translateX(-6vw) translateY(-40vh) scale(0.28);
  }

  7.1428571429% {
    transform: translateX(39vw) translateY(37vh) scale(0.39);
  }

  10.7142857143% {
    transform: translateX(38vw) translateY(-26vh) scale(0.74);
  }

  14.2857142857% {
    transform: translateX(-9vw) translateY(46vh) scale(0.8);
  }

  17.8571428571% {
    transform: translateX(33vw) translateY(-27vh) scale(0.99);
  }

  21.4285714286% {
    transform: translateX(34vw) translateY(34vh) scale(0.31);
  }

  25% {
    transform: translateX(-29vw) translateY(-46vh) scale(0.72);
  }

  28.5714285714% {
    transform: translateX(-29vw) translateY(32vh) scale(0.94);
  }

  32.1428571429% {
    transform: translateX(-15vw) translateY(39vh) scale(0.83);
  }

  35.7142857143% {
    transform: translateX(26vw) translateY(8vh) scale(0.92);
  }

  39.2857142857% {
    transform: translateX(-8vw) translateY(16vh) scale(0.31);
  }

  42.8571428571% {
    transform: translateX(8vw) translateY(4vh) scale(0.44);
  }

  46.4285714286% {
    transform: translateX(-48vw) translateY(5vh) scale(0.48);
  }

  50% {
    transform: translateX(44vw) translateY(-32vh) scale(0.57);
  }

  53.5714285714% {
    transform: translateX(48vw) translateY(-7vh) scale(0.85);
  }

  57.1428571429% {
    transform: translateX(20vw) translateY(15vh) scale(0.31);
  }

  60.7142857143% {
    transform: translateX(35vw) translateY(13vh) scale(0.89);
  }

  64.2857142857% {
    transform: translateX(-14vw) translateY(-43vh) scale(0.5);
  }

  67.8571428571% {
    transform: translateX(-24vw) translateY(-6vh) scale(0.78);
  }

  71.4285714286% {
    transform: translateX(46vw) translateY(-45vh) scale(0.58);
  }

  75% {
    transform: translateX(48vw) translateY(-6vh) scale(0.57);
  }

  78.5714285714% {
    transform: translateX(38vw) translateY(-20vh) scale(0.53);
  }

  82.1428571429% {
    transform: translateX(29vw) translateY(-2vh) scale(0.55);
  }

  85.7142857143% {
    transform: translateX(9vw) translateY(0) scale(0.36);
  }

  89.2857142857% {
    transform: translateX(-44vw) translateY(46vh) scale(0.79);
  }

  92.8571428571% {
    transform: translateX(25vw) translateY(16vh) scale(0.97);
  }

  96.4285714286% {
    transform: translateX(34vw) translateY(-18vh) scale(0.46);
  }

  100% {
    transform: translateX(-29vw) translateY(-41vh) scale(0.83);
  }
}

.firefly:nth-child(10) {
  animation-name: move10;
}

.firefly:nth-child(10)::before {
  animation-duration: 12s;
}

.firefly:nth-child(10)::after {
  animation-duration: 12s, 8972ms;
  animation-delay: 0ms, 5750ms;
}

@keyframes move10 {
  0% {
    transform: translateX(-10vw) translateY(29vh) scale(0.98);
  }

  3.5714285714% {
    transform: translateX(-1vw) translateY(-41vh) scale(0.35);
  }

  7.1428571429% {
    transform: translateX(-1vw) translateY(-28vh) scale(0.51);
  }

  10.7142857143% {
    transform: translateX(34vw) translateY(15vh) scale(0.94);
  }

  14.2857142857% {
    transform: translateX(31vw) translateY(-36vh) scale(0.68);
  }

  17.8571428571% {
    transform: translateX(49vw) translateY(-13vh) scale(0.89);
  }

  21.4285714286% {
    transform: translateX(43vw) translateY(3vh) scale(0.93);
  }

  25% {
    transform: translateX(-37vw) translateY(5vh) scale(0.49);
  }

  28.5714285714% {
    transform: translateX(47vw) translateY(42vh) scale(0.46);
  }

  32.1428571429% {
    transform: translateX(-8vw) translateY(23vh) scale(0.82);
  }

  35.7142857143% {
    transform: translateX(27vw) translateY(4vh) scale(0.76);
  }

  39.2857142857% {
    transform: translateX(35vw) translateY(-31vh) scale(0.44);
  }

  42.8571428571% {
    transform: translateX(-4vw) translateY(-3vh) scale(0.58);
  }

  46.4285714286% {
    transform: translateX(-6vw) translateY(45vh) scale(0.27);
  }

  50% {
    transform: translateX(41vw) translateY(35vh) scale(0.84);
  }

  53.5714285714% {
    transform: translateX(0) translateY(-42vh) scale(0.61);
  }

  57.1428571429% {
    transform: translateX(-1vw) translateY(39vh) scale(0.84);
  }

  60.7142857143% {
    transform: translateX(8vw) translateY(7vh) scale(0.87);
  }

  64.2857142857% {
    transform: translateX(-6vw) translateY(-14vh) scale(0.83);
  }

  67.8571428571% {
    transform: translateX(-22vw) translateY(-36vh) scale(0.81);
  }

  71.4285714286% {
    transform: translateX(-29vw) translateY(47vh) scale(0.78);
  }

  75% {
    transform: translateX(-30vw) translateY(1vh) scale(0.53);
  }

  78.5714285714% {
    transform: translateX(-20vw) translateY(-1vh) scale(0.64);
  }

  82.1428571429% {
    transform: translateX(33vw) translateY(-7vh) scale(0.74);
  }

  85.7142857143% {
    transform: translateX(-41vw) translateY(-1vh) scale(0.5);
  }

  89.2857142857% {
    transform: translateX(44vw) translateY(-40vh) scale(0.62);
  }

  92.8571428571% {
    transform: translateX(-7vw) translateY(45vh) scale(0.75);
  }

  96.4285714286% {
    transform: translateX(24vw) translateY(-47vh) scale(0.86);
  }

  100% {
    transform: translateX(30vw) translateY(-24vh) scale(0.66);
  }
}

.firefly:nth-child(11) {
  animation-name: move11;
}

.firefly:nth-child(11)::before {
  animation-duration: 10s;
}

.firefly:nth-child(11)::after {
  animation-duration: 10s, 7454ms;
  animation-delay: 0ms, 3433ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-43vw) translateY(16vh) scale(0.48);
  }

  5% {
    transform: translateX(29vw) translateY(19vh) scale(0.67);
  }

  10% {
    transform: translateX(17vw) translateY(-12vh) scale(0.97);
  }

  15% {
    transform: translateX(42vw) translateY(45vh) scale(0.31);
  }

  20% {
    transform: translateX(-10vw) translateY(48vh) scale(0.66);
  }

  25% {
    transform: translateX(10vw) translateY(-3vh) scale(0.32);
  }

  30% {
    transform: translateX(6vw) translateY(-40vh) scale(0.98);
  }

  35% {
    transform: translateX(-41vw) translateY(-34vh) scale(0.47);
  }

  40% {
    transform: translateX(-17vw) translateY(-32vh) scale(0.36);
  }

  45% {
    transform: translateX(-14vw) translateY(49vh) scale(0.29);
  }

  50% {
    transform: translateX(-22vw) translateY(-45vh) scale(0.7);
  }

  55% {
    transform: translateX(8vw) translateY(11vh) scale(0.99);
  }

  60% {
    transform: translateX(-6vw) translateY(6vh) scale(1);
  }

  65% {
    transform: translateX(-42vw) translateY(13vh) scale(0.8);
  }

  70% {
    transform: translateX(25vw) translateY(-30vh) scale(0.29);
  }

  75% {
    transform: translateX(-5vw) translateY(-11vh) scale(0.26);
  }

  80% {
    transform: translateX(-16vw) translateY(-4vh) scale(0.46);
  }

  85% {
    transform: translateX(45vw) translateY(1vh) scale(0.55);
  }

  90% {
    transform: translateX(-45vw) translateY(50vh) scale(0.53);
  }

  95% {
    transform: translateX(-31vw) translateY(-28vh) scale(0.94);
  }

  100% {
    transform: translateX(7vw) translateY(-42vh) scale(0.43);
  }
}

.firefly:nth-child(12) {
  animation-name: move12;
}

.firefly:nth-child(12)::before {
  animation-duration: 14s;
}

.firefly:nth-child(12)::after {
  animation-duration: 14s, 10031ms;
  animation-delay: 0ms, 6105ms;
}

@keyframes move12 {
  0% {
    transform: translateX(46vw) translateY(25vh) scale(0.81);
  }

  5.5555555556% {
    transform: translateX(27vw) translateY(34vh) scale(0.39);
  }

  11.1111111111% {
    transform: translateX(-14vw) translateY(-13vh) scale(0.48);
  }

  16.6666666667% {
    transform: translateX(-46vw) translateY(-36vh) scale(0.92);
  }

  22.2222222222% {
    transform: translateX(4vw) translateY(14vh) scale(0.83);
  }

  27.7777777778% {
    transform: translateX(28vw) translateY(21vh) scale(0.92);
  }

  33.3333333333% {
    transform: translateX(-13vw) translateY(9vh) scale(0.35);
  }

  38.8888888889% {
    transform: translateX(-11vw) translateY(-25vh) scale(0.53);
  }

  44.4444444444% {
    transform: translateX(41vw) translateY(-5vh) scale(0.66);
  }

  50% {
    transform: translateX(50vw) translateY(18vh) scale(0.93);
  }

  55.5555555556% {
    transform: translateX(-34vw) translateY(-7vh) scale(0.98);
  }

  61.1111111111% {
    transform: translateX(0) translateY(2vh) scale(0.51);
  }

  66.6666666667% {
    transform: translateX(-30vw) translateY(-46vh) scale(0.74);
  }

  72.2222222222% {
    transform: translateX(11vw) translateY(-43vh) scale(0.77);
  }

  77.7777777778% {
    transform: translateX(32vw) translateY(43vh) scale(0.4);
  }

  83.3333333333% {
    transform: translateX(-39vw) translateY(-6vh) scale(0.35);
  }

  88.8888888889% {
    transform: translateX(-19vw) translateY(9vh) scale(0.76);
  }

  94.4444444444% {
    transform: translateX(1vw) translateY(36vh) scale(0.96);
  }

  100% {
    transform: translateX(-26vw) translateY(23vh) scale(0.32);
  }
}

.firefly:nth-child(13) {
  animation-name: move13;
}

.firefly:nth-child(13)::before {
  animation-duration: 11s;
}

.firefly:nth-child(13)::after {
  animation-duration: 11s, 9452ms;
  animation-delay: 0ms, 3286ms;
}

@keyframes move13 {
  0% {
    transform: translateX(-49vw) translateY(-33vh) scale(0.29);
  }

  5% {
    transform: translateX(36vw) translateY(36vh) scale(0.52);
  }

  10% {
    transform: translateX(1vw) translateY(-47vh) scale(0.59);
  }

  15% {
    transform: translateX(-47vw) translateY(-2vh) scale(0.9);
  }

  20% {
    transform: translateX(-5vw) translateY(-19vh) scale(0.83);
  }

  25% {
    transform: translateX(-22vw) translateY(32vh) scale(0.84);
  }

  30% {
    transform: translateX(-48vw) translateY(36vh) scale(0.86);
  }

  35% {
    transform: translateX(45vw) translateY(24vh) scale(0.99);
  }

  40% {
    transform: translateX(21vw) translateY(4vh) scale(0.54);
  }

  45% {
    transform: translateX(29vw) translateY(-7vh) scale(0.3);
  }

  50% {
    transform: translateX(28vw) translateY(-14vh) scale(0.46);
  }

  55% {
    transform: translateX(26vw) translateY(33vh) scale(0.57);
  }

  60% {
    transform: translateX(44vw) translateY(17vh) scale(0.81);
  }

  65% {
    transform: translateX(-7vw) translateY(-14vh) scale(0.77);
  }

  70% {
    transform: translateX(17vw) translateY(-28vh) scale(0.3);
  }

  75% {
    transform: translateX(-1vw) translateY(-14vh) scale(0.78);
  }

  80% {
    transform: translateX(43vw) translateY(-19vh) scale(0.87);
  }

  85% {
    transform: translateX(1vw) translateY(4vh) scale(0.34);
  }

  90% {
    transform: translateX(-44vw) translateY(50vh) scale(0.52);
  }

  95% {
    transform: translateX(32vw) translateY(-22vh) scale(0.83);
  }

  100% {
    transform: translateX(-30vw) translateY(15vh) scale(0.35);
  }
}

.firefly:nth-child(14) {
  animation-name: move14;
}

.firefly:nth-child(14)::before {
  animation-duration: 11s;
}

.firefly:nth-child(14)::after {
  animation-duration: 11s, 10810ms;
  animation-delay: 0ms, 7260ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-28vw) translateY(-43vh) scale(0.43);
  }

  5.2631578947% {
    transform: translateX(47vw) translateY(-19vh) scale(0.77);
  }

  10.5263157895% {
    transform: translateX(41vw) translateY(-19vh) scale(0.3);
  }

  15.7894736842% {
    transform: translateX(7vw) translateY(-40vh) scale(0.96);
  }

  21.0526315789% {
    transform: translateX(34vw) translateY(-4vh) scale(0.71);
  }

  26.3157894737% {
    transform: translateX(12vw) translateY(-48vh) scale(0.45);
  }

  31.5789473684% {
    transform: translateX(-22vw) translateY(48vh) scale(0.4);
  }

  36.8421052632% {
    transform: translateX(9vw) translateY(44vh) scale(0.34);
  }

  42.1052631579% {
    transform: translateX(-2vw) translateY(-21vh) scale(0.86);
  }

  47.3684210526% {
    transform: translateX(-38vw) translateY(-15vh) scale(0.33);
  }

  52.6315789474% {
    transform: translateX(26vw) translateY(12vh) scale(0.56);
  }

  57.8947368421% {
    transform: translateX(-29vw) translateY(35vh) scale(0.43);
  }

  63.1578947368% {
    transform: translateX(-27vw) translateY(0) scale(0.54);
  }

  68.4210526316% {
    transform: translateX(39vw) translateY(-36vh) scale(0.64);
  }

  73.6842105263% {
    transform: translateX(-49vw) translateY(-15vh) scale(0.9);
  }

  78.9473684211% {
    transform: translateX(-41vw) translateY(12vh) scale(0.92);
  }

  84.2105263158% {
    transform: translateX(50vw) translateY(16vh) scale(0.56);
  }

  89.4736842105% {
    transform: translateX(-26vw) translateY(-24vh) scale(0.58);
  }

  94.7368421053% {
    transform: translateX(2vw) translateY(49vh) scale(0.79);
  }

  100% {
    transform: translateX(28vw) translateY(-14vh) scale(0.32);
  }
}

.firefly:nth-child(15) {
  animation-name: move15;
}

.firefly:nth-child(15)::before {
  animation-duration: 14s;
}

.firefly:nth-child(15)::after {
  animation-duration: 14s, 8001ms;
  animation-delay: 0ms, 1297ms;
}

@keyframes move15 {
  0% {
    transform: translateX(45vw) translateY(25vh) scale(0.85);
  }

  3.8461538462% {
    transform: translateX(14vw) translateY(-39vh) scale(0.82);
  }

  7.6923076923% {
    transform: translateX(-14vw) translateY(1vh) scale(0.82);
  }

  11.5384615385% {
    transform: translateX(38vw) translateY(43vh) scale(0.26);
  }

  15.3846153846% {
    transform: translateX(39vw) translateY(-38vh) scale(0.91);
  }

  19.2307692308% {
    transform: translateX(-38vw) translateY(44vh) scale(0.38);
  }

  23.0769230769% {
    transform: translateX(-19vw) translateY(-9vh) scale(0.98);
  }

  26.9230769231% {
    transform: translateX(28vw) translateY(39vh) scale(0.29);
  }

  30.7692307692% {
    transform: translateX(-2vw) translateY(0) scale(0.56);
  }

  34.6153846154% {
    transform: translateX(25vw) translateY(-49vh) scale(0.65);
  }

  38.4615384615% {
    transform: translateX(-27vw) translateY(-23vh) scale(0.92);
  }

  42.3076923077% {
    transform: translateX(20vw) translateY(-9vh) scale(0.98);
  }

  46.1538461538% {
    transform: translateX(48vw) translateY(50vh) scale(0.62);
  }

  50% {
    transform: translateX(-15vw) translateY(14vh) scale(0.77);
  }

  53.8461538462% {
    transform: translateX(-37vw) translateY(43vh) scale(0.35);
  }

  57.6923076923% {
    transform: translateX(-38vw) translateY(-40vh) scale(0.82);
  }

  61.5384615385% {
    transform: translateX(50vw) translateY(48vh) scale(0.94);
  }

  65.3846153846% {
    transform: translateX(-32vw) translateY(45vh) scale(0.86);
  }

  69.2307692308% {
    transform: translateX(19vw) translateY(-18vh) scale(0.94);
  }

  73.0769230769% {
    transform: translateX(12vw) translateY(-33vh) scale(0.39);
  }

  76.9230769231% {
    transform: translateX(-47vw) translateY(-24vh) scale(0.5);
  }

  80.7692307692% {
    transform: translateX(19vw) translateY(21vh) scale(0.47);
  }

  84.6153846154% {
    transform: translateX(-36vw) translateY(-31vh) scale(0.4);
  }

  88.4615384615% {
    transform: translateX(-38vw) translateY(-15vh) scale(0.27);
  }

  92.3076923077% {
    transform: translateX(-39vw) translateY(-6vh) scale(0.93);
  }

  96.1538461538% {
    transform: translateX(48vw) translateY(-23vh) scale(0.89);
  }

  100% {
    transform: translateX(-3vw) translateY(-6vh) scale(0.47);
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0 0 yellow;
  }

  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}
